@import './global/index';

:root {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Montserrat';
    line-height: var(--n-lh-regular);
    color: var(--n-base);
    background-color: var(--n-default);
  }

  #app {
    height: 100vh;
  }
}

:root {
  button {
    cursor: pointer;
    transition: 0.25s ease-in-out;
    border: none;
    background-color: var(--n-brand);
    color: var(--n-default);
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    padding: 20px;
    line-height: inherit;
    &:hover {
      filter: brightness(110%);
    }
    &:active {
      filter: brightness(130%);
    }
  }
}
