@import './global/index';

:root {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  --corn-ts: 1s;
  @media (max-width: 960px) {
  --corn-ts: 0.5s;
  }

  body {
    // font-family: 'OpenSans';
    font-family: 'Montserrat';
    line-height: var(--n-lh-regular);
    color: var(--n-base);
    background-color: var(--n-default);
    // overflow: hidden;
    @media (max-width: 1024px) {
      overflow: auto;
    }
  }

  --corn-page-px: 6.25vw;
  --corn-page-py: 6.25vw;

  #app {
    // height: 100vh;
    // @media (max-width: 1024px) {
    //   height: auto;
    // }
  }

  .text_block {
    background-color: var(--n-second-0);
    padding: 3.88888889rem 5.55555556rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.44444444rem;
    > p {
      z-index: 2;
    }
    &-1 {
      background-color: var(--n-second-0);
      display: flex;
      flex-direction: column;
      row-gap: 0.44444444rem;
      padding: 2rem 3rem;
    }
    @media (max-width: 960px) {
      padding: 2rem 3rem;
    }
  }
  button {
    font-family: 'OpenSans';
    background-color: var(--n-brand);
    border: none;
    color: var(--n-default);
    padding: 1rem;
    // font-size: 0.88888889rem;
    font-size: var(--n-fs-caption);
    line-height: var(--n-lh-no);
    min-height: fit-content;
    font-weight: var(--n-fw-bold);
    &:not(:disabled) {
      cursor: pointer;
    }
  }
  .mobile_title {
    margin-bottom: -1.4rem;
    z-index: 2;
    font-family: 'OpenSans';
  }
  h1 {
    line-height: var(--n-lh-no);
    margin-bottom: 4rem;
  }
}
