/* Light 300 */
@font-face {
  font-family: "SpaceGrotesk";
  src: url("./ttf/SpaceGrotesk-Light.ttf");
  font-weight: 300;
}
/* Regular 400 */
@font-face {
  font-family: "SpaceGrotesk";
  src: url("./ttf/SpaceGrotesk-Regular.ttf");
  font-weight: 400;
}
/* Medium 500 */
@font-face {
  font-family: "SpaceGrotesk";
  src: url("./ttf/SpaceGrotesk-Medium.ttf");
  font-weight: 500;
}
/* Semi-Bold 400 */
@font-face {
  font-family: "SpaceGrotesk";
  src: url("./ttf/SpaceGrotesk-SemiBold.ttf");
  font-weight: 600;
}
/* Bold 500 */
@font-face {
  font-family: "SpaceGrotesk";
  src: url("./ttf/SpaceGrotesk-Bold.ttf");
  font-weight: 700;
}